
.home{
    padding: 50px 50px 500px 500px;
    align-items: center;
    background-color: black;
}


@media screen and (max-width:1000px) {
.text-light:hover{
    padding: 5px 20px;

}
.home{
    align-items: center;
    background-color: black;
}
}

@media screen and (max-width:235px) {
    .home{
        align-items: center;
        background-color: black;
    }
    }

 @media screen and (max-width:552px) {
    .home{
        align-items: center;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat; background-size: cover;
    
        
        
        
    }
} 
@media screen and (max-width:365px) {
    .ms-auto{
        width:100%;
    }
}

    
